.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &-list__item {
    margin-right: (15 / 16) * 1rem;
  }

  &-list__link {
    cursor: pointer;
    text-decoration: none;

    &:visited {
      color: inherit;
    }

    &.active {
      color: orange;
    }
  }

  &-action-list__item:not(:last-child) {
    margin-right: (15 / 16) * 1rem;;
  }
}

.list {
  list-style: none;

  li {
    display: inline-block;
  }
}
